
  
.main{
 justify-content: center;
    display: flex;
    padding: 150px;
}
   
.sub-main{
   
    background-color: rgba(205, 141, 141, 0.7); 
    color: rgb(26, 2, 2);
    border: 1px solid #3e3434;
    font-size: medium;
    padding: 30px 30px 40px 30px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
