
.form-control{
    padding: auto;
    background-color: rgba(62, 59, 57, 0.4);
    border-color: rgb(25, 21, 21);
}
.btn{
    size: 30px;
    background-color: rgb(173, 63, 63);
    font-weight: 600;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(172, 103, 92);
}
