/* Form.css */

.form-container {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 40px;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.form-field input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-field label {
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}

.submit-button {
  background-color: #aa1c1c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1f0404;
}
.show-all-button {
  background-color: #aa1c1c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.show-all-button:hover {
  background-color: #1f0404;
}
