@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto+Slab:wght@300;900&family=Rowdies:wght@700&display=swap');
.header{
    text-align:center;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    font-size: 80px;
    font-weight: 900;
    color: rgba(157, 14, 14, 0.8);
   /* -webkit-text-stroke: 1px rgb(44, 17, 17);*/
    text-shadow: 2px 2px black;
}